.mm{
    width: 100%;
}
.b{
    margin-left: 480px;
    width: 150px;
}
.carta{
    margin-left: 150px;
    margin-top: -130px;
}
.maii{
    margin-left: 400px;
    margin-top: -100px;
}
img{
    border-radius: 500px;
}
.n{
    margin-left: 30px;
}
.z{
    height: 70px;
}